/* --------map-------- */
/* #info .infobox .map iframe {
    max-width: 100%;
    height: 300px;
    margin: 0 1rem;
} */

#info {
    max-width: 1110px;
}

/* mapの親コンテナ */
#info .infobox .map {
    max-width: 550px;
    width: 100%; /* 親の幅に合わせて横幅を100%に */
    height: 100%;
    aspect-ratio: 1/1;
    margin: 01rem;
    /* margin: 0 auto; */
}

/* map iframe */
#info .infobox .map iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    /* margin: 0 1rem; */
    /* gap: 1rem; */
}

/* ---------info-------- */

#info h1 {
    color: var(--textmaincolor);
    font-size: var(--textmainsize);
    text-align: center;
    margin-bottom: 65px;
    margin-top: 130px;
}

#info .infobox {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}

#info .infobox .infoinner {
    margin: 0 1rem;
}

#info .infobox .infoinner .infoPbox p {
    margin-bottom: 8px;
    color: var(--textcolour);
}

#info .infobox .infoinner .infoPbox {
    margin-bottom: 27px;
}

#info .infobox .infoinner img {
    padding: 0 0 1rem 0;
}
#info .infobox .infoinner .button {
    text-align: center;
    padding: 0 0 1rem 0;
}
