body {
    color: #ffffff;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
}

body .activityContainer01 {
    width: 1440px;
    background-color: #b3d6f1;
    margin: 0 auto;
    /* border: 1px solid black; */
    color: #ffffff;
}

body header h1 {
    font-size: 220px;
    padding: 50px 50px;
    text-align: center;
    margin-bottom: 200px;
    /* border: 1px solid red; */
}

/* body .activityContainer02 { */
/* width: 1200px; */
/* margin: 0 auto; */
/* border: 1px solid pink; */
/* } */

body main {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid pink;  */
    gap: 100px;
}
body main section {
    margin: 0 auto;
    /* margin-bottom: 250px; */
    /* border: 1px solid red; */
    /* text-align: right; */
}

body main section h2 {
    font-size: 200px;
    display: none;
}

body main section .activityContainer03 .normal {
    width: 500px;
    font-size: 38px;
    /* margin: 0 auto; */
}

/* main section .activityContainer03 { */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* text-align: center; */
/* border: 3px solid blue; */
/* margin-rignt: auto; */
/* } */

body main section .activityContainer03 .img_box {
    width: 900px;
    height: 700px;
    /* border: 1px solid black; */
    /* margin-left: auto; */
}

body main section:nth-child(1) .activityContainer03 .img_box,
body main section:nth-child(3) .activityContainer03 .img_box {
    margin-left: auto;
}

body main section:nth-child(1) .activityContainer03 .canoe_box .normal {
    margin-left: 75px;
    /* border: 1px solid red; */
}

body main section:nth-child(2) .activityContainer03 .canoe_box .normal {
    margin-left: 100px;
    /* border: 1px solid red; */
}
body main section:nth-child(3) .activityContainer03 .canoe_box .normal {
    margin-left: 550px;
    /* border: 1px solid red; */
}

/* body main section:nth-child(3) .activityContainer03 .canoe_box .normal{ */
/* margin-right: auto; */
/* } */

.vertical_text {
    writing-mode: vertical-rl; /* 右から左へ縦書き */
    height: auto; /* 必要に応じて調整 */
    margin: 0 auto; /* 中央揃えにする場合 */
  }
  
.yomogi {
    font-family: 'Yomogi', cursive;
    font-size: 40px;
    color: black;
    background-color: rgba(255, 255, 224, 0.5);
    border-radius: 10px;
  }

.tegaki_tategaki_BBQ{
    font-size: 60px;
    position: relative;
    left: 500px;
    bottom: 1100px;
    /* rotate: -20deg; */
}

.tegaki_tategaki_canoe{
    position: relative;
    right: 500px;
    bottom: 1100px;
    /* background-color: lightyellow; */
    /* color: black; */
}

.tegaki_tategaki_sup{
    position: relative;
    left: 500px;
    bottom: 1100px;
}










body main .img_box .img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

body main .canoe_box {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

body main .canoe {
    width: 500px;
    height: auto;
}

body main section:nth-child(2) .activityContainer03 .canoe_box .canoe {
    margin-left: auto;
}

body main section .activityContainer03 .canoe_box .canoe .canoeLady_img,
body main section .activityContainer03 .canoe_box .canoe .canoe_img {
    width: 100%;
    height: auto;
    /* border-radius: 80px; */
    /* object-fit: cover; */
    object-fit: contain;
    /* border-radius: 10px; */
    /* margin-bottom: 20px; */
}

body main section .activityContainer03 .canoe_box .canoe .canoeLady_img {
    position: relative;
    top: 100px;
    rotate: 30deg;
}

body main section .activityContainer03 .canoe_box .canoe .canoe_img {
    position: relative;
    top: 100px;
    rotate: -30deg;
}

.sec03_sup {
    padding-bottom: 100px;
}

/* ************メディアクエリ************** */
@media screen and (max-width: 393px) {
    body .activityContainer01 {
        width: 393px;
    }

    body header {
        margin-bottom: 40px;
    }
    body header h1 {
        font-size: 80px;
        margin-bottom: 50px;
    }

    body main {
        width: 380px;
    }

    body main section h2 {
        /* display: block; */
        /* text-align: center; */
        font-size: 60px;
    }

    body main section .activityContainer03{
        height: 500px;
    margin: 50px auto;
    }




    body main section .activityContainer03 .img_box {
        width: 310px;
        height: auto;
        margin: 0 auto;
        /* margin-bottom: 50px; */
        /* border: 1px solid red; */
    }

    body main .canoe_box {
        /* display: none; */
        display: flex;
        flex-direction: column;
        width: 310px;
        height: auto;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
        padding: 10px 0;
        /* border: 1px solid red; */
    }

    body main .canoe {
        width: 200px;
        height: auto;
        /* margin: 0 auto; */
        /* order: -1; */
        /* display: block; */
    }

    /* body main section .activityContainer03 .canoe_box .canoe .canoeLady_img,  */
    /* body main section .activityContainer03 .canoe_box .canoe .canoe_img{ */
    /* transform: none !important; */
    /* position:static; */
    /* rotate: 0deg; */
    /* margin: 0 auto; */
    /* display: block; */
    /* position: relative; */
    /* } */

         
    .yomogi {
        font-family: 'Yomogi', cursive;
        font-size: 40px;
        color: black;
        background-color: rgba(255, 255, 224, 0.5);
        border-radius: 10px;
      }
    
    .tegaki_tategaki_BBQ{
        position: static;
        position: relative;
        left: 120px;
        bottom: 450px;
        /* rotate: -20deg; */
    }

    .tegaki_tategaki_BBQ p{
        font-size: 20px;
        /* margin: 0 ; */
     }
    
    .tegaki_tategaki_canoe{
        position: static;
        position: relative;
        right: 120px;
        bottom: 450px;
            }

.tegaki_tategaki_canoe p{
    font-size: 20px;
}
    
    .tegaki_tategaki_sup{
        position: static;
        position: relative;
        left: 120px;
        bottom: 270px;
    }

    .tegaki_tategaki_sup p{
        font-size: 20px;
    }






    body main section .activityContainer03 .canoe_box .canoe .canoeLady_img {
        position: relative;
        left: 18px;
        transform: translateY(-100px) rotate(-55deg);
    }

    body main section .activityContainer03 .canoe_box .canoe .canoe_img {
        position: relative;
        right: 90px;
        transform: translateY(-100px) rotate(60deg);
    }

    body main section:nth-child(1) .activityContainer03 .canoe_box .normal,
    body main section:nth-child(2) .activityContainer03 .canoe_box .normal,
    body main section:nth-child(3) .activityContainer03 .canoe_box .normal {
        display: block;
        margin: 0 auto;
        width: 280px;
        font-size: 10px;
        text-align: center;
        /* border: 1px solid black; */
    }

    body main section:nth-child(1) .activityContainer03 .canoe_box .normal {
        order: -1;
    }
}
