/* レトロフォント＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
@font-face {
    font-family: 'CustomFont';
    src: url('../851letrogo_007.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* レトロフォント＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */



body {
    background-color: #f4ede6;
    color: #9c6553;
    font-family: "Shippori Mincho", serif;
    /* font-family: 'CustomFont', sans-serif; */
}

.fontF {
    font-family: 'CustomFont';
}

span {
    font-family: 'CustomFont';
}

/* 始まり　画像を伸縮させるために必須の記述 */
img {
    max-width: 100%;
    height: auto;
}
/* 終わり　画像を伸縮させるために必須の記述 */

/* ヘッダー（ナビゲーション）＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
header .navWrapper {
    width: 100%;
    height: 120px;
    background-color: #57bebc;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ↓兎の湯の塊と、ヒストリーとかのナビゲーションの塊の間のスペース */
    gap: 1rem;
}

header .navWrapper .omisenoOnamae {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ↓ロゴと銭湯のお名前の間のスペース */
    gap: 1rem;
}


header .navWrapper h1 img {
    width: 70px;
    height: 70px;
}

header .navWrapper h2 {
    color: #08102c;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
}


ul {
    width: 800px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ad1e2f;
    gap: 1rem;
}

header ul div {
    display: none;
}

/* 始まり　ロゴと店名 */

header #first-logo {
    /* border: 1px solid yellow; */
    max-width: 1000px;
    margin: 50px auto;
}

header #first-logo h2 {
    text-align: center;
    margin: 50px 0 82px 0;
    font-size: 80px;
    font-weight: 400;
}

header #first-logo img {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
}

/* 終わり　ロゴと店名 */

/* 終わりヘッダー（ナビゲーション）＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */

main #first-logo .logo_page_setumei {
    width: 400px;
    height: auto;
    background-image: url(../images/logo.png);
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: 50px auto;
}

main #first-logo h2 {
    width: 400px;
    height: auto;
    margin: 0 auto 82px;
    text-align: center;
    font-size: 80px;
}



/* 始まり　メイン */
main .all {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
}

main .all #about {
    /* border: 1px solid blue; */
    margin-bottom: 82px;

}

main .all #about h3 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 3rem;
}

main .all #about .about-text {
    /* border: 1px solid black; */
    max-width: 50%;
    margin: 0 auto;
}

main .all #bath {
    /* border: 1px solid blue; */
    margin-bottom: 82px;
}

main .all #bath .bath-h3-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main .all #bath .bath-h3-wrapper img {
    width: 150px;
    height: auto;
    aspect-ratio: 1/1;
}

main .all #bath h3 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 3rem;
}

main .all #bath .bath-naikan {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

main .all #bath .bath-text {
    /* border: 1px solid yellow; */
    max-width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
}

/* ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */


main .all #sauna .sauna-h3-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 32px;
}

main .all #sauna .sauna-h3-wrapper img {
    width: 150px;
    height: auto;
    aspect-ratio: 1/1;
}


main .all #sauna h3 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

main .all #sauna .sauna-imgs {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

main .all #sauna .sauna-imgs img {
    width: 320px;
    height: 217px;
}

main .all #sauna .sauna-text {
    /* border: 1px solid blueviolet; */
    max-width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
}

main .all #yuagari {
    /* border: 1px solid blue; */
    margin-top: 82px;
}

main .all #yuagari .yuagari-h3-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 32px;
}

main .all #yuagari .yuagari-h3-wrapper img {
    width: 150px;
    height: auto;
    aspect-ratio: 1/1;
}

main .all #yuagari h3 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

main .all #yuagari .yuagari-imgs {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

main .all #yuagari .yuagari-imgs img {
    max-width: 320px;
    max-height: 217px;
}

main .all #yuagari .yuagari-text {
    /* border: 1px solid blueviolet; */
    max-width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 82px;
}

/* TOPに戻る＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
#scrollToTop {
    position: fixed;
    bottom: 20px;  /* 画面下から20pxの位置 */
    right: 20px;   /* 画面右から20pxの位置 */
    padding: 10px 15px;
    /* background-color: #007bff; */
    color: white;  /* ボタンの文字色 */
    font-size: 18px;
    cursor: pointer;
    display: none; /* 最初は表示しない */
    z-index: 1000;  /* 他のコンテンツより前に表示 */
}

/* #scrollToTop:hover {
    background-color: #0056b3; 
}
もしホバーしたら何かしたくなったら */

main .returnTopButton img {
    width: 140px;
    height: 94.11px;
}
/* TOPに戻る＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */

/* フッター＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
footer{
    width: 100%;
    height: 100px;
    background-color: #57bebc;
    color: #f4ede6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
/* フッター＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */




/* メディアクエリ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
/* ここから下ハンバーガーメニュー亀井追記 */

@media screen and (max-width:930px) {

    ul {
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    header .navWrapper h2 {
        font-size: 13px;
    }

}

@media screen and (max-width:800px) {
    header .navWrapper h1 img {
        width: 50px;
        height: 50px;
    }

    header .navWrapper h2 {
        color: #08102c;
        font-size: 14px;
    }

    li {
        font-size: 14px;
    }
}

header .navWrapper h1 img {
    width: 30px;
    height: 30px;
}

header .navWrapper h2 {
    color: #08102c;
    font-size: 14px;
}

@media screen and (max-width:700px) {

    header .navWrapper h1 img {
        width: 30px;
        height: 30px;
    }

    header .navWrapper h2 {
        color: #08102c;
        font-size: 14px;
    }
}


@media screen and (max-width:600px) {
    #usaginoyunituite .H2Wrapper h2 {
        font-size: 24px;
    }


    #drawerButton {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 10000;
    }

    .menu-toggle {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
    }

    .menu-toggle span {
        display: block;
        width: 100%;
        height: 4px;
        background: #f4ede6;
        transition: 0.3s;
        margin-bottom: 8px;
    }

    .menu-toggle.reDesing span:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .menu-toggle.reDesing span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.reDesing span:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    header ul {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: -100%;
        background-color: #57bebc;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        z-index: 1000;
        transition: all 0.3s linear;
    }

    /* 亀井追加 */
    header ul div {
        display: block;
    }

    header ul div p img:nth-of-type(1) {
        width: 120px;
        height: auto;
        margin: 0 0 1rem 1rem;
    }

    header ul div p img:nth-of-type(2) {
        width: 100%;
        height: auto;
        padding: 1.5rem;
        background-color: rgba(244, 237, 230, 0.6);
    }

    /* 亀井追記ここまで */
    header ul.open {
        top: 0;
    }




    

    /*  はじめの大きなロゴ　*/
    header #first-logo img {
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
    }

    header #first-logo h2 {
        text-align: center;
        font-size: 50px;
        font-weight: 200;
    }

    main .all #about h3 {
        font-size: 24px;
        text-align: center;
    }

    main .all #about .about-text {
        /* border: 1px solid black; */
        max-width: 80%;
        margin: 0 auto;
    }

    main .all #about .about-text p {
        font-size: 14px;
        line-height: 1.5rem;
    }

    main .all #bath .bath-h3-wrapper img {
        width: 70px;
        height: auto;
        aspect-ratio: 1/1;
    }

    main .all #bath h3 {
        font-size: 24px;
        text-align: center;
        margin-top: 3rem;
    }

    main .all #bath .bath-text {
        max-width: 80%;
        margin: 0 auto;
    }

    main .all #bath .bath-text p {
        font-size: 14px;
        line-height: 1.5rem;
        margin-top: 3rem;
    }

    main .all #sauna h3 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    main .all #sauna .sauna-h3-wrapper img {
        width: 70px;
        height: auto;
        aspect-ratio: 1/1;
    }

    main .all #sauna .sauna-imgs {
        /* border: 1px solid red; */
        display: block;
        margin-left: 3rem;

    }

    main .all #sauna .sauna-imgs img {
        width: 90%;
        height: auto;
        margin: 1rem 0;
    }

    main .all #yuagari .yuagari-h3-wrapper img {
        width: 70px;
        height: auto;
        aspect-ratio: 1/1;
    }

    main .all #yuagari h3 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }


    main .all #yuagari .yuagari-imgs {
        display: block;
        margin-left: 4rem;
    }

    main .all #yuagari .yuagari-imgs img {

        width: 90%;
        height: auto;
        margin-bottom: 1rem;
    }

    main .all #yuagari .yuagari-text {
        max-width: 80%;
        margin: 0 auto;
    }

    main .all #yuagari .yuagari-text p {
        font-size: 14px;
        line-height: 1.5rem;
        margin-top: 3rem;
    }

    main .returnTopButton img {
        width: 70px;
        height: auto;
    }

}