/* レトロフォント＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
@font-face {
    font-family: 'CustomFont';
    src: url('../851letrogo_007.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* レトロフォント＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
body {
    background-color: #f4ede6;
    color: #9c6553;
    font-family: "Shippori Mincho", serif;
    /* font-family: 'CustomFont', sans-serif; */
}

.fontF {
    font-family: 'CustomFont';
}

span {
    font-family: 'CustomFont';
}


/* 始まり　画像を伸縮させるために必須の記述 */
img {

    max-width: 100%;
    height: auto;
    /* background-color: red; */
}

/* 終わり　画像を伸縮させるために必須の記述 */

/* ヘッダー（ナビゲーション）＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
header .navWrapper{
    width: 100%;
    height: 120px;
    background-color: #57bebc;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ↓兎の湯の塊と、ヒストリーとかのナビゲーションの塊の間のスペース */
    gap: 1rem;
}

header .navWrapper .omisenoOnamae {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ↓ロゴと銭湯のお名前の間のスペース */
    gap: 1rem;
}


header .navWrapper h1 img{
    width: 70px;
    height: 70px;
}

header .navWrapper h2{
    color: #08102c;
}

nav{
display: flex;
align-items: center;
}


ul{
    width: 800px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ad1e2f;
    gap: 1rem;
}

/* 亀井追加 */
header ul div {
    display: none;
}
/* 亀井追加ここまで */



/* ヘッダー（ナビゲーション）＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */



/* 始まりメイン */

main .all {
    /* border: 1px solid palevioletred; */
    max-width: 1000px;
    margin: 0 auto;
}

main .all #goods {
    /* border: 1px solid green; */
    margin-bottom: 82px;
}

main #first-logo .logo_page_setumei {
    width: 400px;
    height: auto;
    background-image: url(../images/logo.png);
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin:50px auto;
}

main #first-logo h2{
    width: 400px;
    height: auto;
    margin: 0 auto 82px;
    text-align: center;
    font-size: 80px;
}


main .all #goods .goods-title {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .all #goods .goods-title img {
width: 180px;
height: auto;
}

main .all #goods .goods-title h3 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

main .all #goods .goods-title p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0 2rem 0;
}

/* サウナハットの画像 */
main .all #goods .goods-img {
    max-width: 799.4px;
    height: 533px;
    display: block;
    margin: 0 auto;
}

/* グッズの大枠 */
main .all #goods .goods-item figure {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
}

/* グッズごとの枠 */
main .all #goods .goods-item .goods {
    /* border: 1px solid blue; */
    width: 200px;
    height: 350px;
    flex-basis: calc((100%/ 3) - (2rem/ 3));
    text-align: center;
}

/* グッズ写真の大きさ */
main .all #goods .goods-item img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

main .all #info .info-title {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

main .all #info .info-title .info-h3 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .all #info .info-title img:nth-child(1) {
    width: 180px;
    height: auto;
}

main .all #info .info-title img:nth-child(2) {
    width: 80px;
    height: auto;
}

main .all #info .info-title h3 {
    font-size: 50px;
    font-weight: 400;
    color: #ad1e2f;
    text-align: center;
}

main .all #info .info-title p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0 2rem 0;
}
/* 一番下の２枚の画像の大枠 */
main .all #info .info-img {
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

/* 一番下の２枚の画像の大きさ */
main .all #info .info-img img {
    /* border: 1px solid green; */
    width: 100%;
    aspect-ratio: 1/1;


}




/* TOPに戻る＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
#scrollToTop {
    position: fixed;
    bottom: 20px;  /* 画面下から20pxの位置 */
    right: 20px;   /* 画面右から20pxの位置 */
    padding: 10px 15px;
    /* background-color: #007bff; */
    color: white;  /* ボタンの文字色 */
    font-size: 18px;
    cursor: pointer;
    display: none; /* 最初は表示しない */
    z-index: 1000;  /* 他のコンテンツより前に表示 */
}

/* #scrollToTop:hover {
    background-color: #0056b3; 
}
もしホバーしたら何かしたくなったら */

main .returnTopButton img {
    width: 140px;
    height: 94.11px;
}
/* TOPに戻る＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */



/* フッター＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
footer{
    width: 100%;
    height: 100px;
    background-color: #57bebc;
    color: #f4ede6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
/* フッター＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */

/* メディアクエリ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
/* ここから下ハンバーガーメニュー亀井追記 */
@media screen and (max-width:930px) {

    ul {
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    header .navWrapper h2 {
        font-size: 13px;
    }

}

@media screen and (max-width:800px) {
    header .navWrapper h1 img {
        width: 50px;
        height: 50px;
    }

    header .navWrapper h2 {
        color: #08102c;
        font-size: 14px;
    }

    li {
        font-size: 14px;
    }
}

header .navWrapper h1 img {
    width: 30px;
    height: 30px;
}

header .navWrapper h2 {
    color: #08102c;
    font-size: 14px;
}

@media screen and (max-width:700px) {

    header .navWrapper h1 img {
        width: 30px;
        height: 30px;
    }

    header .navWrapper h2 {
        color: #08102c;
        font-size: 14px;
    }
}




@media screen and (max-width:600px) {
    #usaginoyunituite .H2Wrapper h2 {
        font-size: 24px;
    }


    #drawerButton {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 10000;
    }

    .menu-toggle {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
    }

    .menu-toggle span {
        display: block;
        width: 100%;
        height: 4px;
        background: #f4ede6;
        transition: 0.3s;
        margin-bottom: 8px;
    }

    .menu-toggle.reDesing span:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .menu-toggle.reDesing span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.reDesing span:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    header ul {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: -100%;
        background-color: #57bebc;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        z-index: 1000;
        transition: all 0.3s linear;
    }

    /* 亀井追加 */
    header ul div {
        display: block;
    }

    header ul div p img:nth-of-type(1) {
        width: 120px;
        height: auto;
        margin: 0 0 1rem 1rem;
    }

    header ul div p img:nth-of-type(2) {
        width: 100%;
        height: auto;
        padding: 1.5rem;
        background-color: rgba(244, 237, 230, 0.6);
    }

    /* 亀井追記ここまで */
    header ul.open {
        top: 0;
    }



    /*  はじめの大きなロゴ　*/
    main #first-logo .logo_page_setumei {
        width: 200px;
        height: auto;
        aspect-ratio: 1/1;
    }

    main #first-logo h2 {
        width: 200px;
        height: auto;
        margin: 0 auto 82px;
        text-align: center;
        font-size: 40px;
    }

    main .all #goods .goods-title h3 {
        font-size: 19px;
        font-weight: 400;
        text-align: center;
    }

    main .all #goods .goods-title p {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    main .all #goods .goods-img {
        /* border: 1px solid blue; */
        width: auto;
        height: 360px;
    }

    main .all #goods .goods-item figure {
        /* border: 1px solid blue; */
        display: block;
    }

    main .all #goods .goods-item .goods {
        margin: 0 auto;
    }


    main .all #info .info-title h3 {
        font-size: 20px;
        font-weight: 400;
        color: #ad1e2f;
        text-align: center;
    }


    main .all #info .info-title img:nth-child(1) {
        width: 80px;
        height: auto;
    }

    main .all #info .info-title img:nth-child(2) {
        width: 50px;
        height: auto;
    }

    main .all #info .info-title p {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    main .returnTopButton img {
        width: 70px;
        height: auto;
    }

    main .all #info .info-img {
        display: block;
    }

    main .all #info .info-img img {
        /* border: 1px solid green; */
        margin-bottom: 1rem;
    }

}